:root{
    --background:#151515;
    --loderbg:#000000;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}

html, body{
    height: 100%;
    width: 100vw;
}

body{
    overflow-x: hidden;
}

#curser{
    height: 3.1vw;
    width: 3.1vw;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    z-index: 99 !important;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: var(--loderbg);
    padding: 25vh 10vw;
    overflow: hidden;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 2.8vw;
    font-weight: 200;
    font-family: "silk serif";
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
}

.line h2{
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    /* loaderAnime; */
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}

@keyframes loaderAnime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}

.wait{
    margin-top: 2rem;
}

.wait p{
    font-size: 1rem;
    font-weight: 500;
}

main{
    position: relative;
    background-color: var(--loderbg);
}

/*page 1*/

.page1{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

.page1 .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5.5vw;
}

.nav-part2 , .nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.nav-part1 svg:nth-child(1){
    height: 1rem;
    width: 1rem;
}

.nav-part1 .description{
    margin-top: 2.5rem;
    margin-left: 2rem;
    text-align: bottom;
    font-size: 0.8rem;
    font-weight: 400;
}

.nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}

.hero{
    width: 77%;
    margin-left: 23%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero:nth-child(2){
    margin-top: 20vh;
}

.hero h1, .hero h2, .hero h3{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}

#hero3 h2{
    z-index: 9999 !important;
    border-bottom: solid white 0.6rem;
    transition: color border 0.3s ease; 
}

#hero3 h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 400;
    border-bottom: none;
    z-index: 999 !important;
}

#hero1 h4{
    content: "01";
    color: white;
    font-size: 2.5vw;
    font-family: "silk serif";
    margin-right: 2rem;
    padding-bottom: 3rem;
}

.base h5{
    margin: 2vw 8vw;
    font-size: 1.1rem;
    font-weight: 400;
    width: fit-content;
    overflow: hidden;
}

/*page 2*/
.page2{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    padding-top: 15vh;
}

#video-container{
    height: 60vh;
    width: 60vw;
    left: 39%;
    position: relative;
}

#video-container #circle{
    background-color: #FFA63D;
    height: 6.5vw;
    width: 6.5vw;
    position: absolute;
    border-radius: 50%;
    z-index: 999;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle span i{
    font-size: 2.3vw;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
}

/*page 3*/

.page3{
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(155, 128, 92);
    position: relative;
}

.page4{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    padding: 7vh 0;
}

.page4 .content {
    width: 65vw;
    margin-left: 28%;
}

.page4 .content .heading{
    display: flex;
    align-items: center;
    justify-content: start;
}
.page4 .content .heading h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}
.heading h4{
    content: "01";
    color: white;
    font-size: 2.3vw;
    font-family: "silk serif";
    margin-right: 2rem;
    padding-bottom: 3rem;
}
.page4 .content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}
.page4 .content>p {
    font-size: 1.55vw;
    width: 50%;
    margin-bottom: 3vw;
}
.page4_flex{
    display: flex;
    gap: 2vw;
}
.page4_flex img{
    width: 48%;
}
.page4_flex .text>p{
    width: 30%;
    font-size: 0.9vw;
    margin-bottom: 3vw;
}
.page4_blue_div{
    background-color: #3F7DF4;
    width: 30vw;
    padding: 2vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 26vw;
}
.bluediv-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff9e;
}
.bluediv-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}
.bluediv-elem p{
    width: 40%;
    font-size: 0.7vw;
}
.page4 .content .underline-end{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0 2vw 0;
}
.page4 .content #text{
    font-size: 1vw;
}

.page5{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    padding: 7vh 0;
}