:root{
    --background:#151515;
    --loderbg:#000000;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}

html, body{
    height: 100%;
    width: 100vw;
}

body{
    overflow-x: hidden;
}
                                        /*loader*/
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: var(--loderbg);
    padding: 25vh 10vw;
    overflow: hidden;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 2.8vw;
    font-weight: 200;
    font-family: "silk serif";
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
}

.line h2{
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
                                        /* loaderAnime; */
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}

@keyframes loaderAnime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}

.wait{
    margin-top: 2rem;
}

.wait p{
    font-size: 1rem;
    font-weight: 500;
}

.main{
    position: relative;
    background-color: var(--loderbg);
}

                                                /*page 1*/

.page1{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

.page1 .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5.5vw;
}

.nav-part2 , .nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.nav-part1 svg:nth-child(1){
    height: 1rem;
    width: 1rem;
}

.nav-part1 .description{
    margin-top: 2.5rem;
    margin-left: 2rem;
    text-align: bottom;
    font-size: 0.8rem;
    font-weight: 400;
}

.nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}

.hero{
    width: 77%;
    margin-left: 23%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero:nth-child(2){
    margin-top: 20vh;
}

.hero h1, .hero h2, .hero h3{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}

#hero3 h2{
    z-index: 9999 !important;
    border-bottom: solid white 0.6rem;
    transition: color border 0.3s ease; 
}

#hero3 h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 400;
    border-bottom: none;
    z-index: 999 !important;
}

#hero1 h4{
    content: "01";
    color: white;
    font-size: 2.5vw;
    font-family: "silk serif";
    margin-right: 2rem;
    padding-bottom: 3rem;
}

.base h5{
    margin: 2vw 8vw;
    font-size: 1.1rem;
    font-weight: 400;
    width: fit-content;
    overflow: hidden;
}

.page1 #flag{
    width: 13vw;
    height: 19vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

                                        /*page 2*/

.page2{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    padding-top: 15vh;
}

#video-container{
    height: 66vh;
    width: 72vw;
    left: 28%;
    position: relative !important;
    background: url(./Assets/images/Showreel-2022-preview-1.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
}

#video-container #circle{
    background-color: #FFA63D;
    height: 9vw;
    width: 9vw;
    position: absolute !important;
    border-radius: 50%;
    z-index: 999;
    top: -15%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle span i{
    font-size: 2.3vw;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
}

#video-container #pause{
    display: none;
}

.active{
    display: block;
}

.inactive{
    display: none;
}


                                            /*page 3*/

.page3{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    padding: 17vw 0vw;
}

.page3 .content {
    width: 100vw;
}

.page3 .content .heading{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 65vw;
    margin-left: 28%;
}

.page3 .content .heading h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}

.heading h4{
    content: "01";
    color: white;
    font-size: 2.3vw;
    font-family: "silk serif";
    margin-right: 2rem;
    padding-bottom: 3rem;
}

.page3 .content>.underline{
    height: 1px;
    width: 67vw;
    background-color: #fff;
    margin: 5vw 0 5vw 28%;
}

.image-container { 
    padding: 2.3vw 2.4vw 2.3vw 2.3vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container .element {
    width: 24vw;
    margin: 5vw 0 0vw 0;
}

.image-container .element1 {
    width:32vw;
    margin: 0vw 0 5vw 0;
}

.image-container .element2 {
    width:31vw;
    margin: 7vw 0 5vw 0;
}

.image-container .element3 {
    width:33vw;
    margin: 0vw 0 5vw 0;
}

.image-container .element4{
    width:22vw;
    margin: -14vw 4vw 5vw 0;
}

.image-container .element5 {
    width:33vw;
    margin: 0vw 0 5vw 0;
}

.element1 .image-div{
    height: 40vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.element2 .image-div{
    height: 39vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.element3 .image-div{
    height: 40vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.element5 .image-div{
    height: 38vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.image-container h3{
    font-size: 2.2vw;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 1.5vw 0;
}

.image-container p{
    font-size: 1vw;
}

.image-container .bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1.5vw 0;
}

.image-div{
    height: 29vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; 
}

.underlines{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 1.5vw 0;
}

.page3-circle1 {
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 30vw;
    position: relative;
    position: relative;
}
.page3-circle2 {
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: -3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page3-circle3 {
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page3-circle1 svg {
    height: 7vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page3-circle2 svg{
    rotate: -45deg;
    height: 7vw;
}

.page3-circle3 svg{
    rotate: -90deg;
    height: 7vw;
}

.in-circle{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.4s;
    scale: 0;
}

.in-circle>p{
    color: #000000;
    font-size: 1vw;
    text-align: center;
    width: 65%;
    font-weight: 500;
    transition: all ease 0.6s;
    transition-delay: 0.3s;
    scale: 0;
    opacity: 0;
    opacity: 1;
}
.page3-circle1:hover .in-circle{
    scale: 1;
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}
.page3-circle2:hover .in-circle{
    scale: 1;
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}
.page3-circle3:hover .in-circle{
    scale: 1;
}
.page3-circle3:hover p{
    scale: 1;
    opacity: 1;
}


                                            /*page 4*/

.page4{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    padding: 7vh 0;
}

.page4 .content {
    width: 65vw;
    margin-left: 28%;
}

.page4 .content .heading{
    display: flex;
    align-items: center;
    justify-content: start;
}

.page4 .content .heading h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}

.heading h4{
    content: "01";
    color: white;
    font-size: 2.3vw;
    font-family: "silk serif";
    margin-right: 2rem;
    padding-bottom: 3rem;
}

.page4 .content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

.page4 .content>p {
    font-size: 1.55vw;
    width: 50%;
    margin-bottom: 3vw;
}

.page4_flex{
    display: flex;
    gap: 2vw;
}

.page4_flex img{
    width: 48%;
}

.page4_flex .text>p{
    width: 30%;
    font-size: 0.9vw;
    margin-bottom: 3vw;
}

.page4_blue_div{
    background-color: #3F7DF4;
    width: 30vw;
    padding: 2vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 26vw;
}

.bluediv-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff9e;
}

.bluediv-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}

.bluediv-elem p{
    width: 40%;
    font-size: 0.7vw;
}

.page4 .content .underline-end{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0 2vw 0;
}

.page4 .content #text{
    font-size: 1vw;
}

                                        /*page 5*/

.page5{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    padding: 7vh 0;
}

.elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.page5 .elem span , .elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem h1{
    font-size: 6.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display:inline-block;
    margin-right: 16px;
    animation-name: marq-anime;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes marq-anime {
    form{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem2 h1{
    font-size: 6.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display:inline-block;
    margin-right: 16px;
    animation-name: marq-anime;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction: reverse;
}

                                        /*footer*/

footer{
    min-height: 70vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    padding: 5vw 3vw;
}

footer .content {
    width: 65vw;
    margin-left: 28%;
}

footer .heading{
    display: flex;
    align-items: center;
    justify-content: start;
}

footer .heading h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
}

footer .content .underline , footer .content .underline-end{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0 2vw 0;
}

footer .content .footer-div{
    padding: 4vw 15vw 0 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

footer .content .box{
    width: 30%;
}

.footer-div h5{
    font-size: 1.2vw;
    margin: 0.2vh 0;
}

.footer-div h6{
    font-size: 1vw;
    margin: 0 0 4vh 0;
    font-weight: 400;
}

footer p {
    font-size: 0.9vw;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}

@media (max-width: 600px) {
                                        /*page 1*/
    .page1{
        height: 58vh;
        padding-top: 1px;
    }
    
    .page1 .nav{
        padding: 5vw 5.5vw 0  5.5vw;
        position: fixed;
        top:0;
        width: 100vw;
    }
    
    .nav-part1{
        width: 100%;
        justify-content: space-between;
    }

    .nav-part2 {
        display: none;
    }
    
    .nav-part1 svg:nth-child(1) {
        height: 0.9rem;
        width: 0.9rem;
    }
    
    .nav-part1 .description{
        display: none;
    }
    
    .hero{
        margin-left: 6%;
        align-items: start;
    }
    
    .hero:nth-child(2){
        flex-direction: column;
        margin-top: 19vh;
    }
    
    .hero h1, .hero h2, .hero h3{
        font-size: 11vw;
        line-height: 11vw;
    }
    
    #hero3 h2{
        border-bottom: solid white 0.2rem;
    }
    
    #hero1 h4{
        font-size: 5.5vw;
        padding-bottom: 0;
    }
    
    .base h5{
        font-size: 0.7rem;
    }

                                        /*page 2*/
    
    .page2{
        height: 58vh;
        padding-top: 5vh;

    }
    
    #video-container{
        height: 48vh;
        width: 100vw;
        left: 0;
    }
    
    #video-container #circle{
        background-color: #FFA63D;
        height: 27vw;
        width: 27vw;
        left: 60%;
    }
    
    #circle span i{
        font-size: 9.3vw;
    }                               

}