:root{
    --background:#151515;
    --loderbg:#0B0B0B;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}

html, body{
    height: 100%;
    width: 100%;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: var(--loderbg);
    padding: 25vh 10vw;
}

.line{
    height: fit-content;
    background-color: red;
    overflow: hidden;
}

.line h1{
    font-size: 6.5vw;
    font-weight: 600;
    text-transform: uppercase;
}

main{
    position: relative;
    background-color: var(--background);
}

.page1{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}